<html>

	
<h1>
<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-W3KMFRQR5M"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-W3KMFRQR5M');
	</script>
	<title>Prediction Page</title>
Prediction for your statement
</h1>

<div class="container">
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.statement.label}} {{form.statement()}} <br/>
        {{ form.submit()}}

    </form>
</br>
</div> <!-- /container -->

</html>